

.liste{
    margin-top: 150px;
}

.titre_doc{
    text-align: center;
    color: white;
    font-size: 60px;
}
.btn_ctn{
    display: flex;
    justify-content: center;
}
.bouton_liste{
    margin-top: 75px;
    width: calc(70%/3);
    border-radius: 0;
    border: 5px solid white;
    background-color: #333;
    color: white;
    height: 100px;
    cursor: pointer;
    margin-bottom: 100px;
    font-size: 70px;
    margin-left: 100px;
    margin-right: 100px;
}
@media (min-width: 768px) and (max-width: 1291px) {
    .bouton_liste {
      width: calc(90%/2);
      font-size: 50px;
      margin-bottom: 75px;
      height: 80px;
    }
  }

@media (max-width: 767px) {
    .bouton_liste {
        width: calc(100%);
        font-size: 40px;
        margin-bottom: 50px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    .bouton_liste {
        width: calc(100%);
        font-size: 30px;
        margin-bottom: 30px;
        height: 50px;
    }
}


.noms_liste{
    color: white;
    text-align: center;
    list-style-type: none;
}
.perso_liste{
    margin-bottom: 25px;
    font-size: 55px;
}

