<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/personnages.css">
</head>
<body>

    <nav>
        <div>
          <a href="../index.html" class="logo"><img src="../css/images/logo.png" alt="Logo Disney+"></a>
        </div>
        <ul class="menu">
          <li><a href="../index.html"><i class="fas fa-home"></i> ACCUEIL</a></li>
          <li><a href="personnages.html"><i class="fas fa-user"></i> PERSONNAGES</a></li>
          <li><a href="#"><i class="fas fa-video"></i>FILMS</a></li>  
      </nav>

        <h1>Disney Character Lookup</h1>
        <form action="/" method="post">
          <label for="id">Character ID:</label>
          <input type="text" id="id" name="id">
          <button type="submit">Lookup</button>
        </form>

        <div class="ctn">
          <div class="carte_perso">
              {{if .Name}}
              <img src="{{.ImageURL}}">
              <p class="nom_perso">{{.Name}}</p>
              <p>Films :</p>
              {{if (eq (len .Films) 0)}}
                  aucun
                {{else}}
                  <ul>
                    {{range .Films}}
                      <li>{{.}}</li>
                    {{end}}
                  </ul>
                {{end}}
                <p>Jeux-Vidéos :</p>
                {{if (eq (len .VideoGames) 0)}}
                    aucun
                  {{else}}
                    <ul>
                      {{range .VideoGames}}
                        <li>{{.}}</li>
                      {{end}}
                    </ul>
                  {{end}}
              <p>Alliés :</p>
              {{if (eq (len .Allies) 0)}}
                  aucun
                {{else}}
                  <ul>
                    {{range .Allies}}
                      <li>{{.}}</li>
                    {{end}}
                  </ul>
                {{end}}
                <p>Ennemis :</p>
                {{if (eq (len .Enemies) 0)}}
                    aucun
                  {{else}}
                    <ul>
                      {{range .Enemies}}
                        <li>{{.}}</li>
                      {{end}}
                    </ul>
                  {{end}}
                  <p>Séries :</p>
                {{if (eq (len .TvShows) 0)}}
                    aucun
                  {{else}}
                    <ul>
                      {{range .TvShows}}
                        <li>{{.}}</li>
                      {{end}}
                    </ul>
                  {{end}}
              {{end}}
          </div>
      </div>    

    <footer>
        <img src="../css/images/logo.png" class="logo_footer">
        <p>© 2023 Disney+. Tous droits réservés.</p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </footer>
</body>
</html>